<%# modified %>
<table summary="Book form fields">
    <tr>
    <th>Title</th>
    <td>
        <%= f.label :title%>
        <%= f.text_field(:title) %>
    </td>
    </tr>
    <tr>
    <th>Author</th>
    <td>
        <%= f.label :author%>
        <%= f.text_field(:author) %>
    </td>
    </tr>
    <tr>
    <th>Price</th>
    <td>
        <%= f.label :price%>
        <%= f.text_field(:price) %>
    </td>
    </tr>
    <tr>
    <th>Published Date</th>
    <td>
        <%= f.label :published_date%>
        <%= f.date_field(:published_date) %>
    </td>
    </tr>
    <tr>
    <th>Publisher</th>
    <td>
        <%= f.label :publisher%>
        <%= f.text_field(:publisher) %>
    </td>
    </tr>
    <tr>
    <th>Pages</th>
    <td>
        <%= f.label :pages%>
        <%= f.text_field(:pages) %>
    </td>
    </tr>
    <tr>
    <th>Release Date</th>
    <td>
        <%= f.label :release_date%>
        <%= f.date_field(:release_date) %>
    </td>
    </tr>
</table>